@model IEnumerable<JOBWAY.Models.Candidat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Les candidats</h1>

<div class="row mt-3">

    @foreach (var item in Model)
    {
    <div class="col-md-6">
        <!-- Project One -->
        <div class="row mt-5">
            <div class="col-md-4">
                <a href="#">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="https://via.placeholder.com/300x200" alt="">
                </a>
            </div>
            <div class="col-md-6" style="font-size:12px;">
                <h5>@Html.DisplayFor(modelItem => item.Usernname)</h5>
                <p><strong>@Html.DisplayNameFor(model => model.Email) :</strong> @Html.DisplayFor(modelItem => item.Email)</p>
                <p><strong>@Html.DisplayNameFor(model => model.Phone) :</strong> @Html.DisplayFor(modelItem => item.Phone)</p>
                <p><strong>@Html.DisplayNameFor(model => model.Poste) :</strong> @Html.DisplayFor(modelItem => item.Poste)</p>

                @*                @Html.ActionLink("Voir profile", "Profile", new { id = item.Id }, new { @class = "btn btn-primary" })
                *@
            </div>
        </div>
        <hr />

    </div>

        <!-- /.row -->
    }
</div>

@*

    </table>
*@