@model JOBWAY.Models.Candidat

@{
    ViewBag.Title = "profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-5 p-5">
    <section class="section about-section gray-bg" id="about">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-lg-6">
                    <div class="about-text go-to">
                        <h3 class="dark-color">Description</h3>
                        <p>
                            @Html.DisplayFor(model => model.Description)
                        </p>
                        <div class="row about-list">
                            <div class="col-md-6">
                                <div class="media">
                                    <label>Nom et prénom</label>
                                    <p>
                                        @Html.DisplayFor(model => model.Usernname)
                                    </p>
                                </div>
                                <div class="media">
                                    <label>Téléphone</label>
                                    <p>
                                        @Html.DisplayFor(model => model.Phone)
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="media">
                                    <label>E-mail</label>
                                    <p>
                                        @Html.DisplayFor(model => model.Email)
                                    </p>
                                </div>
                                <div class="media">
                                    <label>Date</label>
                                    <p>
                                        @Html.DisplayFor(model => model.Date_creation)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="about-avatar">
                        <img src='~/files/@(Model.Image)' class="rounded-circle" title="" alt="">
                    </div>
                    <div class="py-4">
                        @Html.ActionLink("Consulter le CV", "download", new { id = Model.Id }, new { target = "_blank" })
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>