@model IEnumerable<JOBWAY.Models.Offre>

@{
    ViewBag.Title = "Index";
}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <h2 class="mt-5">
        Liste des offres
    </h2>

    @using (Html.BeginForm("Index", "Offres", FormMethod.Get))
    {
        <div class="form-inline row" style="margin-top:20px;margin-bottom:20px">
            <div class="form-group col-md-4">
                @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Par titre, ville ou description" })
            </div>
            <div class="form-group col-md-4">
                @Html.DropDownList("Categories", null, "Par catégorie", htmlAttributes: new { @class = "form-control produit_multi", style = "z-index:1" })
            </div>
            <div class="col-md-2">
                <input type="submit" class="btn btn-primary" value="Rechercher" />

            </div>
        </div>
    }
    @*<div class="col-md-6">
        @using (Html.BeginForm("Index", "Offres", FormMethod.Get))
        {
        <div class="form-inline row" style="margin-top:20px;margin-bottom:20px">
            <div class="form-group col-md-8">
                @Html.DropDownList("options", null, "select", htmlAttributes: new { @class = "form-control produit_multi", style = "z-index:1" })
            </div>
            <div class="col-md-4">

                <input type="submit" class="btn btn-primary mb-2" value="Search" />
                </div>
            </div>
            }

        </div>*@








    @{
        int count = 0;
    }

    @foreach (var item in Model)
    {

        count = 1;
        <!-- Project One -->
<div class="row">
    <div class="col-md-7">
        <a href="#">
                                <img class="img-fluid rounded mb-3 mb-md-0" src="https://via.placeholder.com/650x300" alt="">
                                
@*            <img class="img-fluid rounded mb-3 mb-md-0" src='"~/files/"+@(item.Image)' alt="">
*@
            @*  @if (String.IsNullOrEmpty(item.Image))
                {
                    <img class="img-fluid rounded mb-3 mb-md-0" src="https://via.placeholder.com/650x300" alt="">

                }
                else
                {
                    <img class="img-fluid rounded mb-3 mb-md-0" src="~/<% item.Image %>" alt="">

                }*@
        </a>
    </div>
    <div class="col-md-5">
        <h3>@Html.DisplayFor(modelItem => item.Titre)</h3>
        <p>@Html.DisplayFor(modelItem => item.Description)</p>
        <p><strong>@Html.DisplayNameFor(model => model.Email) :</strong> @Html.DisplayFor(modelItem => item.Email)</p>
        <p><strong>@Html.DisplayNameFor(model => model.Phone) :</strong> @Html.DisplayFor(modelItem => item.Phone)</p>
        <p><strong>@Html.DisplayNameFor(model => model.Salaire) :</strong> @Html.DisplayFor(modelItem => item.Salaire)</p>
        <p><strong>@Html.DisplayNameFor(model => model.Ville) :</strong> @Html.DisplayFor(modelItem => item.Ville)</p>
        <p><strong>@Html.DisplayNameFor(model => model.Categorie) :</strong> @Html.DisplayFor(modelItem => item.Categorie)</p>


        <p><strong>le :</strong> @Html.DisplayFor(modelItem => item.DateTime)</p>
        @Html.ActionLink("View Project", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
    </div>
</div>
        <!-- /.row -->
        <hr>
    }

    @{
        if (count == 0)
        {
            <h2>Il n'y a pas des offres disponibles</h2>
        }
    }
    <p>
        @Html.ActionLink("Crée un nouveau offre", "Create")
    </p>

</div>
